.agePages {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ageBox {

    box-shadow: 10px 10px 5px rgb(130, 199, 168);

}

.ageFormDisplay {
    
    display: flex;
    flex-direction: column;
    margin-top: 23px; 
    margin-left: 20px;
    align-items: center;
    text-align: center;
}

.ageForm .ageInputSection {
    display: flex;
    flex-direction: column;
    margin-top: 23px; 
    margin-left: 15px;
}

.ageForm div input {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.ageForm div select {
    width: 150px;
    height: 30px;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 3px;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.ageForm div label {
    margin-right: 30px;
    align-items: center;
}