/*take note this css is for the contactform.jsx file*/
/*which used to be named emailreminders*/

body {
  background-color:#B0E19D;
}

.Remind {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.remindTitle {
  display: flex;
  justify-content: center !important;
  font-size: 30px;
  margin: 50px auto;
  font-weight: 400;
}

.MuiFormControl-root.Remind {
  width: 50%;
  height: 1000px;
  display: flex;
}
.MuiFormLabel-root.MuiInputLabel-root {
  position: relative;
  height: 100%;
}
.remindBox{
  box-shadow: 10px 10px 5px rgb(130, 199, 168);
}
.Remind p {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.remindForm{
  margin: 0 0 30px 0;
}

.remindForm .remindInputSection {
  display: flex;
  margin-top: 23px; 
  margin-left: 20px;
  align-items: center;
}
.remindForm .remindError {
  margin-left: 20px;
}
.remindForm p {
  margin: 20px auto 30px auto;
  font-size: 14px;
  font-weight: 400;
}
.remindForm div select {
  width: fit-content;
  height: 30px;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 3px;
  background-color: white;
}
.remindForm div input {
  width: auto;
  height: 30px;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 3px;
}
.remindForm div label {
  margin-right: 10px;
}

.Remind Button {
  margin-bottom: 10px;
  width: 45%;
}