.title{
    justify-content: left;
    margin: 10px;
}

.startDate{
    display: inline-block;
    margin: 10px;
}

.endDate{
    display: inline-block;
    margin: 10px;
}

.exportExcel{
    margin: 10px;
}

.ageRange{
    margin: 10px;
}

.ageRangeY{
    margin: 10px;
}

.ageRangeX{
    margin: 10px;
}

.ageRangeR{
    margin: 10px;
}

.submitEquation{
    margin: 10px;
}

body {
    background-color: #B0E19D;
}