.home {
    display: flex;
    flex-direction: column;
}
.homeTitle {
display: flex;
justify-content: center !important; 
font-size: 30px;
margin: 30px auto;
font-weight: 400;
}
.sections {
margin-top: 10%;
display: grid;
grid-template-columns: 33% 33% 33%;
grid-template-rows: auto auto;
justify-items: center;
}
.homeBox {
background-color: white;
width: auto;
margin-left: auto;
margin-right: auto;
border-radius: 3px;
padding: 0 10px;
box-shadow: 8px 8px 3px rgb(130, 199, 168);
display: grid;

}
