.PatientDetails {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 30px auto 0 auto;
}

.MuiFormControl-root.PatientDetails {
    width: 50%;
    height: 1000px;
    display: flex;
}
.MuiFormLabel-root.MuiInputLabel-root {
    position: relative;
    height: 100%;
}
.box{
    box-shadow: 10px 10px 5px rgb(177, 244, 214);
}
p {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.form{
    margin: 0 0 30px 0;
}

.form .inputSection {
    display: flex;
    margin-top: 30px; 
    margin-left: 20px;
    align-items: center;
}
.form .error {
    margin-left: 20px;
}
.form p {
    margin: 20px auto 30px auto;
    font-size: 14px;
    font-weight: 400;
}
.form div select {
    width: fit-content;
    height: 30px;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 3px;
}
.form div input {
    width: 75px;
    height: 30px;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 3px;
}
.form div label {
    margin-right: 10px;
}
.result {
    display: flex;
    justify-content: center;
}
