.Profile {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profileTitle {
    display: flex;
    justify-content: center !important;
    font-size: 30px;
    margin: 50px auto;
    font-weight: 400;
}

.MuiFormControl-root.Profile {
    width: 50%;
    height: 1000px;
    display: flex;
}
.MuiFormLabel-root.MuiInputLabel-root {
    position: relative;
    height: 100%;
}
.profileBox{
    box-shadow: 10px 10px 5px rgb(130, 199, 168);
}
.Profile p {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.profileForm{
    margin: 0 0 30px 0;
}

.profileForm .profileInputSection {
    display: flex;
    margin-top: 23px; 
    margin-left: 20px;
    align-items: center;
}

.profileForm p {
    margin: 20px auto 30px auto;
    font-size: 14px;
    font-weight: 400;
}
.profileForm div select {
    width: fit-content;
    height: 30px;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 3px;
}
.profileForm div input {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 3px;
    background-color: white;
}
.profileForm div label {
    margin-right: 10px;
}

.Profile Button {
    margin-bottom: 10px;
    width: 45%;
}

.profilebtn {
    margin-bottom: 10px;
    width: 45%;
}